.item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.active-item {
  background-color: #e0e0e0;
  font-weight: bold;
}

.mat-drawer {
  border-radius: 0;
  box-shadow: 4px 0 6px -1px rgba(0, 0, 0, 0.1),
              2px 0 4px -1px rgba(0, 0, 0, 0.06);
}
