<mat-drawer-container autosize>
  <mat-drawer #drawer opened="true" mode="side" position="start">
    <mat-nav-list >
      @for (item of itemList; track item) {
        <mat-list-item
          [routerLink]="item.link"
          routerLinkActive="active-item"
          [routerLinkActiveOptions]="{ exact: item.exact }"
        >
          <div class="item"><mat-icon>{{item.icon}}</mat-icon> {{item.text}}</div>
        </mat-list-item>
      }
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div style="text-align: center;min-height: calc(100vh - 64px)">
            <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
