<div class="list-container">
  <mat-list role="list">
    @for(user of users; track user) {
      <app-user-list-item [user]="user">

        <ng-template #place>
            <app-view-modal-button
              [user]="user"
            >
              <button class="view-button" mat-button>View</button>
            </app-view-modal-button>

            <app-confirm-modal-button
              [user]="user"
              (confirm)="onDeleteConfirm($event, user.id)">
              <button class="delete-button" mat-icon-button color="warn"><mat-icon>delete</mat-icon></button>
            </app-confirm-modal-button>

        </ng-template>

      </app-user-list-item>
      <mat-divider></mat-divider>
    }
  </mat-list>
</div>
