.list-container {
  margin: 16px;
  padding: 8px;
}

mat-list-item {
  text-align: left;
}

.user-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.user-info {
  flex: 1;
}

.delete-button {
  margin-left: auto;
}
