@if(loading$ | async) {
 <div style="padding: 50px">
   Loading...
 </div>
}
@else {
  <div class="list-container">
      <mat-list role="list">
        @for(user of users$ | async; track user) {
          <mat-list-item (click)="showInfoDialog('0ms', '0ms', user)" role="listitem" class="user-item">
            <div class="user-item">
              <div class="user-info">
                <strong>{{ user.name }}</strong>
              </div>
              <app-confirm-modal-button
                [user]="user"
                (confirm)="onDeleteConfirm($event)">
                              <button class="delete-button" mat-icon-button color="warn"><mat-icon>delete</mat-icon></button>
              </app-confirm-modal-button>
            </div>

          </mat-list-item>
          <mat-divider></mat-divider>
        }
      </mat-list>
  </div>
}

